.movieCard{
    list-style: none;
    font-size: 14px;
    transition: 0.5s;
}
.movieCard:hover{
    opacity: 0.5;
    transform: translateY(-30px);
    transition: 0.5s;
}
.movieImage{
    border-radius: 10px;
}
@media (max-width: 560px) {
    .movieImage{
        width: 90%;
        height: auto;
    }
}
.subtitle{
    text-align: center;
    font-size: 18px;
}
.synopsis{
    text-align: -moz-left;
    font-size: 12px;
}